<footer class="page-footer text-center font-small mt-4 wow fadeIn">

    <hr class="my-4">

    <!-- Social icons -->
    <div class="pb-4">
      <a href="https://mail.google.com/mail/" target="_blank">
        <i class="fa fa-envelope mr-3"></i>
      </a>
      
      <a href="https://api.whatsapp.com/send?phone=16308666743" target="_blank">
        <i class="fab fa-whatsapp mr-3"></i>
      </a>
      
      <a href="https://www.instagram.com/" target="_blank">
        <i class="fab fa-instagram mr-3"></i>
      </a>
    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3">
      © 2019 Copyright:
      <a href="" target="_blank"> www.luxurywatches.com </a>
    </div>
    <!--/.Copyright-->

  </footer>